<!DOCTYPE html>
<html>
	{include file="common/head" /}
	<body>
		<div class="header">
			<div class="header-title">老雷博客</div>
		</div>
		<div class="header-row"></div>
		<div class="main-body">
			
			<div class="row-box">
			{volist name="mdList" id="vo"}
			<a class="row-item" href="{:url('/index/index/show?id='.$vo.id)}">
				<div class="row-item-title">{$vo.title}</div>
			</a> 
			{/volist}
			</div>
			 
		</div>
		<div class="footer">
			<a href="{:url('/index/index/index')}" class="footer-item icon-home">首页</a>
			<a href="{:url('/index/index/add')}" class="footer-item icon-add">添加</a>
		</div>
	</body>
</html>
